<html>
  <body>
    <h1>120-Multiplikationen Test</h1>
    <h2>Namn: {{ name }}, Klass: {{ klass }} </h2>
    <h3>Studid: {{ studid }}</h3>
    {% for stud in std %}
    <p>Namn: {{ stud.name }}</p>
    <p>Klass: {{ stud.klass }}</p>
    {% endfor %}

    <form method ='post'>
      {% csrf_token %}
      <table border="1">
	<tr>
	{% for field in form %}
	<td>{{ field.label }}={{ field }}</td>
	  {% if forloop.counter|divisibleby:"4" %}
	   </tr><tr>
	{% endif %}
	{% endfor %}
	</tr>
      </table>
      </br>
      <input type="submit" value = "Submit">
    </form>
  </body>
</html>

