<html>
  <head>
    <style>
      .content{
	  max-width: 500px;
	  margin: auto;
	  background: white;
	  padding: 10px;
      }
    </style>
  </head>

  <body>
    <form method ='post'>
      {% csrf_token %}
      <table border="1">
	<th>Namn</th>
	<th>Klass</th>
	<th>Id</th>
	<th>Week</th>
	<th>Results (cor,fel)</th>
	{% for stud in studs %}
	<tr>  
	  <td>{{ stud.name }} </td>
	  <td>{{ stud.klass }}</td>
	  <td>{{ stud.studid }}</td>
	  {% for test in tests %}
	  <td>{{ test.week }}</td>
	  <td>{{ test.correct }}</td>
	  <td>{{ test.errors }}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
    </form>
  </body>
</html>
